*{
    padding:0;
}
.h1{
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
.h2{
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
.form1{
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction:column;
}
.num1{
    width: 200px;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
.num2{
    width: 200px;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
.submit{
    width: 200px;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.numf{
    width: 200px;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 60px;
}
.but{
    color: black;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
}